* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Sen', sans-serif;
  color: white;
}

a {
  color: white;
}

.container {
  height: 90vh;
  max-width: 1280px;
  background-color: forestgreen;
  background-image: url("./images/pohutukawa.jpg");
  background-size: cover;
  border: 3px solid #503E1F;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
  margin: 15px auto;
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "door1 door2 door3 door4 door5"
  "door6 door7 door8 door9 door10"
  "door11 door12 door13 door14 door15"
  "door16 door17 door18 door19 door20"
  "door21 door22 door23 door24 door25"
}

.image {
  background-image: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #503E1F;
}

.play-btn {
  color: #99B797;
  font-size: 50px; 
}

.text {
  /* height: 100%;
  width: 100%;
  padding: 10px; */
  font-size: 50px;
}

.btn-start {
  margin: 15px auto;
  display: block;
}