* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Sen', sans-serif;
  color: white;
}

a {
  color: white;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #405b17;
  background-image: url("./images/pohutukawa.jpg");
  background-size: cover;
  margin: 0s;
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "door1 door2 door3 door4 door5"
  "door6 door7 door8 door9 door10"
  "door11 door12 door13 door14 door15"
  "door16 door17 door18 door19 door20"
  "door21 door22 door23 door24 door25"
}

.door {
  background-image: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #405b17;
}

.number {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 25px;
  transition: opacity 1.5s;
}

.play-btn {
  color: white;
  font-size: 50px; 
  transition: opacity 1.5s;
}

/* Create calendar button */
.btn-start {
  margin: auto;
  background-color: #b10a14;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #405b17;
}

.btn-start:hover {
  filter: brightness(130%);
  cursor: pointer;
}

/* Modals for early clicks and for Christmas day */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  resize: both;
}

.modal-content {
  background-color: #405b17;
  background-image: url("./images/early-1.jpg");
  background-size: cover;
  width: 90%;
  min-height: 640px;
  max-width: 960px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  border-radius: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff
}

.xmas-modal-content {
  background-color: #000;
  background-image: url("./images/christmas-day.jpg");
  background-size: cover;
  width: 90%;
  min-height: 750px;
  max-width: 960px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  border-radius: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff
}

.text-background {
  background-color: rgba(0,0,0,0.3);
  border-radius: 50px;
  text-align: center;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 80%;
  margin: 20px auto;
}

.xmas-text-background {
  background-color: rgba(0,0,0,0.3);
  border-radius: 50px;
  text-align: center;
  font-size: 2em;
  width: 80%;
  margin: 20px auto;
}

p {
  line-height: 1;
  padding: 20px;
}

/* Finger animation code */
@keyframes finger-wagging {
  0% { 
    transform: rotate(-25deg); 
} 50% { 
    transform: rotate(25deg); 
} 100% { 
  transform: rotate(-25deg); 
} 
}

/* The element to apply the animation to */
.finger {
  margin-bottom: -20px;
  animation-duration: 1s;
  animation-name: finger-wagging;
  animation-iteration-count: infinite;
}

.closeBtn {
  color: #ccc;
  float: right;
  padding-right: 60px;
  padding-top: 30px;
  font-size: 40px;
  line-height: 1.6;
}

.closeBtn:hover, 
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 576px) {

    .modal-container {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
  }
  
  .modal-content {
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
  
  .xmas-modal-content {
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
  
  .text-background {
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 80%;
    margin: 20px auto;
  }
  
  .xmas-text-background {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50px;
    text-align: center;
    font-size: 2em;
    width: 80%;
    margin: 20px auto;
  }  
}